/node_modules
/public/hot
/public/client/plugins
/public/admin/plugins
/public/bower_components
/public/admin/bower_components
/public/admin/node_modules
/public/storage
/storage/*.key
/storage/framework
/vendor
/node_modules
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
